automation/terraform/terraform.tfplan
automation/terraform/terraform.tfstate
automation/terraform/.terraform.tfstate.lock.info
automation/terraform/terraform.tfstate.backup
automation/terraform/.terraform/
automation/terraform/crash.log
automation/terraform/*.tfplan
debuglog.txt
automation/terraform/terraform_plugins/**
**/.vscode/**
**/*.bak
*.json
*.tfvars
automation/backend/ansible/vars/vars.yml
automation/frontend/client/ansible/vars/vars.yml