automation/terraform/terraform.tfvars
automation/terraform/backend_config.tfvars
automation/terraform/terraform.tfplan
automation/terraform/terraform.tfstate
automation/terraform/.terraform.tfstate.lock.info
automation/terraform/terraform.tfstate.backup
automation/terraform/.terraform/
automation/terraform/crash.log
automation/terraform/*.tfplan
debuglog.txt
automation/terraform/terraform_plugins/**
**/.vscode/**
**/*.bak
automation/backend/variables.json
automation/frontend/client/variables.json
automation/frontend/nat/variables.json
automation/backend/ansible/vars/vars.yml
automation/frontend/client/ansible/vars/vars.yml