export NODE_ENV={{NODE_ENV}}
export configEnvVar={{configEnvVar}}
export DATABASE_URL={{DATABASE_URL}}
export configDialect={{configDialect}}
export HOST={{HOST}}
export swaggerJSON={{swaggerJSON}}
export swaggerTitle={{swaggerTitle}}
export swaggerVersion={{swaggerVersion}}
export swaggerDescription={{swaggerDescription}}
export swaggerName={{swaggerName}}
export swaggerUrl={{swaggerUrl}}
export swaggerEmail={{swaggerEmail}}
export swaggerHost={{swaggerHost}}
export ANSIBLE_HOST_KEY_CHECKING={{ANSIBLE_HOST_KEY_CHECKING}}
export SECRET={{SECRET}}